albumentations>=1.4.22
comet_ml>=3.47.4
coremltools>=8.1
Flask>=3.1.0
GitPython>=3.1.43
GitPython>=3.1.43
ipython>=8.12.3
matplotlib>=3.9.3
mss>=10.0.0
nncf>=2.14.0
numpy>=2.2.0
onnx>=1.17.0
onnxruntime>=1.20.1
onnxsim>=0.4.36
opencv_python>=4.10.0.84
openvino>=2024.5.0
paddle>=1.0.2
pafy>=0.5.5
pandas>=2.2.3
Pillow>=11.0.0
psutil>=6.1.0
pycocotools>=2.0.8
PyYAML>=6.0.2
Requests>=2.32.3
scipy>=1.14.1
seaborn>=0.13.2
setuptools>=75.6.0
tensorflow>=2.18.0
tensorflowjs>=4.22.0
tensorrt>=10.7.0
tensorboard>=2.4.1
tflite_runtime>=2.14.0
tflite_support>=0.4.4
thop>=0.1.1.post2209072238
torch>=2.5.1
torchvision>=0.20.1
tqdm>=4.67.0
tritonclient>=2.52.0
ultralytics>=8.3.35
ultralytics_thop>=2.0.12
x2paddle>=1.5.0
